[Desktop Entry]
Name=Teamspeak 3 Client
Version=ts3ver
GenericName=TeamSpeak3
Comment=Speak with friends
Comment[de]=Spreche mit Freunden
Exec=/opt/teamspeak3-client/ts3client_runscript.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/teamspeak3-client/logo.png
Categories=Network;
StartupWMClass=TeamSpeak 3
StartupNotify=true
